{% extends 'base.html' %}
{% load static %}

{% block title %} الصفحة الرئيسية {% endblock title %}


{% block css %}


{% endblock css %}
    

{% block content %}



<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body p-0">
                    <div class="card-px py-3 my-3">

                        
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->



            <!--begin::Modals-->
            
            

            <!--end::Modals-->


        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->



    
{% endblock content %}


{% block js %}


{% endblock js %}
    
