
{% load static %}


<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>


{% comment %} {% if messages %}
<div class="messages">
    {% for message in messages %}

    <script>
      window.onload = (function() {
    
        Swal.fire({
            icon: "{{message.tags}}",
            title: "{{message}}",
            showConfirmButton: false,
            timer: 2500
          });
      });
    </script>

    {% endfor %}
</div>
{% endif %} {% endcomment %}


{% if messages %}
<div class="messages">
    {% for message in messages %}

    <script>
      window.onload = function() {
        Swal.fire({
          text: "{{message}}",
          icon: "{{message.tags}}",
          showConfirmButton: false,
          timer: 2500
      });
      }

  </script>

    {% endfor %}
</div>
{% endif %}

